html, body { height: 100%; }
body { margin: 0; }
.container { display: flex; min-height: 100vh; flex-direction: column; justify-content: center; align-items: center; gap: 12px; }
.box { width: 120px; height: 120px; background: #00b894; border-radius: 8px; }