body{
    height: 100vh;
    margin: 0;

.container{
    display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   gap: 20px;
   margin-top: 10px;
   margin: 10px;
  
   
}

.filho{
 height: 400px;
 width: 400px;
 background-color: rgb(255, 0, 0);
 color: white;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 100px;
}

.container2{
    display: flex;
   justify-content: center;
   align-items: center;
 
   gap: 20px;
   margin-top: 10px;
   margin: 10px;
  
   
}

.filho2{
 height: 400px;
 width: 400px;
 background-color: rgb(0, 51, 255);
 color: white;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 100px;
}

.container3{
    display: flex;
   justify-content: flex-end;
   align-items: flex-end;
  
   gap: 20px;
   margin-top: 10px;
   margin: 10px;
  
   
}

.filho3{
 height: 400px;
 width: 400px;
 background-color: rgb(0, 255, 42);
 color: white;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 100px;
}

.container4{
    display: flex;
    flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   gap: 20px;
   margin-top: 10px;
   margin: 10px;
  
   
}

.filho4{
 height: 400px;
 width: 400px;
 background-color: rgb(0, 4, 255);
 color: white;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 100px;
}


.container5{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
   margin-top: 10px;
   margin: 10px;
  
   
}

.filho5{
 height: 400px;
 width: 400px;
 background-color: rgb(0, 4, 255);
 color: white;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 100px;
}

.container6{
    display: flex;
    flex-direction: column;
   justify-content: flex-end;
   align-items: flex-end;
   gap: 20px;
   margin-top: 10px;
   margin: 10px;
  
   
}

.filho6{
 height: 400px;
 width: 400px;
 background-color: rgb(0, 4, 255);
 color: white;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 100px;
}

.container7{
    display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   margin-top: 10px;
   margin: 10px;
  
   
}

.filho7{
 height: 400px;
 width: 400px;
 background-color: rgb(0, 4, 255);
 color: white;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 100px;
 
}

.container8{
    display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   margin-top: 10px;
   margin: 10px;
  
   
}

.filho8{
 height: 400px;
 width: 400px;
 background-color: rgb(0, 4, 255);
 color: white;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 100px;
 
}

.container9{
    display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   gap: 20px;
   margin-top: 10px;
   margin: 10px;
  
   
}

.filho9{
 height: 400px;
 width: 400px;
 background-color: rgb(234, 255, 0);
 color: white;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 100px;
 
}


.container10{
    display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   gap: 20px;
   margin-top: 10px;
   margin: 10px;
  
   
}

.filho10{
 height: 400px;
 width: 400px;
 background-color: rgb(234, 255, 0);
 color: white;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 100px;
 
}


.container11{
    display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   gap: 20px;
   margin-top: 10px;
   margin: 10px;
  
   
}

.filho11{
 height: 400px;
 width: 400px;
 background-color: rgb(255, 0, 0);
 color: white;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 100px;
 
}


.container12{
    display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   gap: 20px;
   margin-top: 10px;
   margin: 10px;
  
   
}

.filho12{
 height: 400px;
 width: 400px;
 background-color: rgb(255, 0, 0);
 color: white;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 100px;
 
}

}